
.Eye-ball {
  height: 105px;
  width: 95px;
  margin: 0;
  position: absolute;
  overflow: hidden;
  left: 50.5%;
  top: 51%;
  background: linear-gradient(360deg, rgba(237,237,237,1) 13%, rgba(255,255,255,1) 25%, rgba(230,232,232,1) 100%); 
  border-radius: 50%;
}

.Eye-ball:hover {
  cursor: none;
}

.Irs{
  height: 60px;
  width: 60px;
  /* background: linear-gradient(360deg, rgb(192, 114, 114) 13%, rgb(183, 88, 196) 25%, rgb(103, 173, 173) 100%);  */
  background-color: black;
  position: absolute;
  transform: translate(-57%,-57%);
  border-radius: 100%;
}


