
.ri-arrow-btn{
    color: var(--text-color);
}

.header{
    text-align: center;
    cursor: none;
    display: inline;
    position: relative;
    margin: 0 auto;
    align-self: end;
    /* border: 3px solid red; */
}
.title{
    font-size: 5em;
    font-family: Papyrus, fantasy;
    display: inline-block;
    color: var(--text-color);
    /*flex: 1 1 0;*/
    /* border: 3px solid red; */
}

.word{
    display: inline;
    /*flex: 1 2;*/
    /* border: 3px solid blue; */
}

#box{
    border: 0px;
    outline: 0px;
    font-size: 3.5em;
    font-family: Papyrus, fantasy;
    background: transparent;
    color: var(--text-color);
    max-width: 5em;
    max-height: 2em;
    /* border-bottom: 2px solid rgba(128, 128, 128, 0.329); */
}
#box::placeholder{
    color: rgb(88, 87, 87);
}

#next-page-btn{
    position: relative;
    margin: 0 auto;
    height: 2.3em;
    width: 2.3em;
    background-color: transparent;
    border: 0;
    border-radius: 2.3em;
    /*border: 1px solid black;*/
}