.header{
    text-align: center;
    cursor: none;
    display: inline;
    position: absolute;
    top: 40%;
    left: 30%;
    margin: 0;
    /* border: 3px solid red; */
}
.title{
    font-size: 5em;
    font-family: Papyrus, fantasy;
    display: inline;
    /* border: 3px solid red; */
}

.word{
    display: inline;
    margin-left: 10px;
    /* border: 3px solid blue; */
}

#box{
    border: 0px;
    outline: 0px;
    font-size: 3.5em;
    font-family: Papyrus, fantasy;
    background: transparent;
    /* border-bottom: 2px solid rgba(128, 128, 128, 0.329); */
}
#box::placeholder{
    color: rgb(88, 87, 87);
}

#Page{
    position: absolute;
    top: 60%;
    left: 50%;
    display: none;
    background-color: white;
    border: 0;
    border-radius: 2.3em;
    /*width: 70px;*/
    /*height: 70px;*/
    /*border: 1px solid black;*/
}